@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    /**border-box: padding dos elementos seja anexados na sua largura e altura e não somados
    ex:200px de largura e padding de 20 vai ficar com 160*/
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: anialiased;
}

input, button, textarea {
    font: 400 18px Roboto, sans-serif;
}

button {
    cursor: pointer;
}

form input {
    width: 100%;
    height: 60px;
    color: #3333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}

form textarea {
    width: 100%;
    resize: vertical;
    min-height: 140px; /*altura minima*/
    color: #3333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
}


.button /*classe*/{
    width: 100%;
    height: 60%;
    background: #e02041;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s; /*quando o filter mudar, mudar devagar, vai demorar 0.2 segundos, quase um degradre*/ 
}

.button:hover {
    filter: brightness(90%); /*quando passar o mouse por cima escurecer a cor, esse filtro diminui a claridade do input em 10%*/
}

.back-link {
    display: flex;
    align-items: center; /*texto e icone ficar alinhado e centralizado*/
    margin-top: 40px;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
    
}

.back-link svg {
    margin-right: 8px;
}

.back-link:hover {
    opacity: 0.8 ; /*quando passar o mouse por cima diminuir a opacidade para 0.8*/
}